Анализ данных 7 Лабораторная работа Pandas

Задание для самостоятельной работы

In [53]:
import pandas as pd
import numpy as np

1. Создайте датафрейм из списка колонок и одной строки. Проставить можно любые значения.

In [107]:
columns1 = ['OPEN','MIN','MAX','CLOSE']
data1 = ['100','200','300','400']
df1 = pd.DataFrame([data], columns = columns1)
df1

  OPEN  MIN  MAX CLOSE
0  100  200  300   400

2. Добавьте строку с рандомными значениями.

In [108]:
row2 = pd.DataFrame({'OPEN':np.random.randint(100,200,(1)),
                     'MIN':np.random.randint(200,300,(1)),
                     'MAX':np.random.randint(300,400,(1)),
                     'CLOSE':np.random.randint(400,500,(1))})
df2 = pd.concat([df1, row2], axis=0, ignore_index=True)
df2

  OPEN  MIN  MAX CLOSE
0  100  200  300   400
1  165  290  320   464

3. Создайте цикл, в котором к датафрейму добавляется еще 8 строк.

In [186]:
df3 = df2
for i in range(8):
    new_rows = pd.DataFrame({'OPEN':np.random.randint(100,200,(1)),
                     'MIN':np.random.randint(200,300,(1)),
                     'MAX':np.random.randint(300,400,(1)),
                     'CLOSE':np.random.randint(400,500,(1))})
    df3 = pd.concat([df3, new_rows], axis=0, ignore_index=True)
df3

   OPEN  MIN  MAX CLOSE
0   100  200  300   400
1   165  290  320   464
2   144  231  397   477
3   120  229  358   411
4   154  234  304   409
5   131  262  336   407
6   122  244  394   499
7   187  274  336   494
8   140  282  354   462
9   187  237  382   475
10  186  259  329   487
11  181  294  381   461
12  119  237  364   433
13  123  260  371   451
14  196  242  373   415
15  150  225  302   490
16  128  253  394   479
17  130  260  360   448

4. Добавьте справа колонку "DELTA", значение для которой расчитывается как MAX - MIN. И добавьте еще колонку, в которой будет разница между текущим и последующим значением CLOSE (в этом поможет diff).

In [182]:
df3['DELTA'] = df3['MAX'] - df3['MIN']
df3

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [189]:
df3['D_NEXT'] = df3['CLOSE'].diff(periods=-1)
df3

TypeError: unsupported operand type(s) for -: 'str' and 'int'

5. Создайте список из дат с разностью в один день (можно с помощью pd.date_range). Замените им индексы 0,1,2 и т.д.

In [174]:
df_date = pd.DataFrame({'Date':pd.date_range(start='1/1/2022', periods=10),
                    'Sales':np.random.randint(100,900,(10))})
df_date

        Date  Sales
0 2022-01-01    196
1 2022-01-02    804
2 2022-01-03    120
3 2022-01-04    769
4 2022-01-05    745
5 2022-01-06    138
6 2022-01-07    568
7 2022-01-08    588
8 2022-01-09    492
9 2022-01-10    433

In [177]:
df_date.index = df_date['Date']
df_date.drop('Date', axis=1, inplace=True)
df_date

            Sales
Date
2022-01-01    196
2022-01-02    804
2022-01-03    120
2022-01-04    769
2022-01-05    745
2022-01-06    138
2022-01-07    568
2022-01-08    588
2022-01-09    492
2022-01-10    433